<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Ruby Appointment" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# Body classes for centering content, matching login/signup page wrapper %>
  <body class="bg-gray-100 text-gray-900 antialiased">
    <%# Yield will insert the content from devise views like sessions/new.html.erb %>
    <%= yield %>

    <%# We don't include the main nav or footer here %>
  </body>
</html> 